

.container {
font-size: 1.2rem;
background:#e8f3f1;
color: #000;
overflow-wrap: break-word;
border-radius: 8px;
position: relative;
padding: 4rem;
margin: 4rem;
height: 90vh;
}

.input-form {
    width: 100%;
}
.task-input{
    width: 100%;
}

mat-card  {
    margin-bottom: 1rem;
}